{% extends "base.html" %} {% block content %}

<h2>Transaction History</h2>

<div class="history-table">
  {% if user.transactions and user.transactions|length > 0 %}

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for tx in user.transactions %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ tx.recipient }}</td>
        <td>₺ {{ tx.amount }}</td>

        {% if tx.status == "Success" %}
        <td class="success">Completed</td>
        {% else %}
        <td class="danger">Flagged</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>No transactions yet. Start by sending money.</p>
  {% endif %}
</div>

{% endblock %}
